* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// hover dos links
$link-hover: #b9b9b9;

// copyright do footer
$copy-color: #555252;

// itens da tabela da página Falcon9
$table-item: #d8d8d8;

$padding-fixo: 1.25rem 0px;

$padding-button: 0.94rem 2.2rem;